<!doctype html>
<html ng-app="storeApp">
	<head>
		<title>Muebles Rústicos San José</title>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="plugins/anima/anima.css">
		<link rel="stylesheet" href="plugins/owlcarousel/owl.carousel.css">
		<link rel="stylesheet" href="css/icons.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/style-1.css">
		<link rel="stylesheet" href="css/sliders.css">
		<link rel="stylesheet" href="css/hero-slider.css">
		<link rel="stylesheet" href="css/project-slider.css">
		<link rel="stylesheet" href="css/app/app.css">
		<link rel="stylesheet" href="css/angular-ui-notification.min.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/jasny-bootstrap.css">
		<link rel="shortcut icon" href="img/ico/32.png" sizes="32x32" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" href="img/ico/60.png" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/72.png" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/ico/120.png" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/ico/152.png" type="image/png"/>
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body class="dark" ng-controller="loginController" ng-init = "init()">
		<div id="main-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" ng-click="goTo('redirect')" style="cursor:pointer;">
						<img id="navlogo" src="img/logo.png" alt="" width="122" height="45">
					</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul id="navigation" class="nav navbar-nav navbar-right text-center">
						<li><a href="#" ng-click="goTo('redirect')">Inicio</a></li>
						<li class="ng-hide user-control" ng-show="admin">
							<a data-toggle="dropdown">Administrador</a>
							<ul class="dropdown-menu user-info">
								<li>
									<a  ng-click="goTo('product')">Productos</a>
								</li>
								<li>
									<a ng-click="goTo('client')">Clientes</a>
								</li>
								<li>
									<a ng-click="goTo('user')">Usuarios</a>
								</li>
								<li>
									<a ng-click="goTo('orders_admin')">Órdenes Pendientes</a>
								</li>
							</ul>
						</li>
						<li class="ng-hide user-control" ng-show="admin">
							<a data-toggle="dropdown">Reportes</a>
							<ul class="dropdown-menu user-info admin">
								<li>
									<a ng-click="goTo('report_product')">Productos más vendidos</a>
								</li>
								<li>
									<a ng-click="goTo('report_client')">Clientes</a>
								</li>
								<li>
									<a ng-click="goTo('report_delivered')">Órdenes Entregadas</a>
								</li>
								<li>
									<a ng-click="goTo('report_cancelled')">Órdenes Canceladas</a>
								</li>
							</ul>
						</li>
						<li class="dropdown ng-hide" ng-hide="loggedIn">
							<button type="button" class="btn btn-default dropdown-toggle" ng-click="openLoginModal()">Iniciar Sesión</button>
						</li>
						<li class="dropdown ng-hide user-control" ng-show="loggedIn">
							<a class="user-info" data-toggle="dropdown">Hola, {{currentUser.nombre}}!</a>
							<ul class="dropdown-menu user-info">
								<li>
									<button type="button" class="btn btn-logout" ng-click="goTo('orders')">Mis órdenes</button>
								</li>
								<li>
									<button type="button" class="btn btn-logout logout" ng-click="logout()">Cerrar Sesión</button>
								</li>
							</ul>
						</li>
					</ul>
				</div>

			</div>
		</div>

		<div class="product-view" ng-controller="productController" ng-init="init()">
			<div class="panel panel-default" ng-show="list">
				<div class="panel-heading">
					Productos
					<i class="fa fa-plus-square add tool" data-toggle="tooltip" data-placement="top" title="Nuevo Producto " aria-hidden="true" ng-click="showForm()"></i>
				</div>
				<table class="table table-striped">
					<thead>
						<th>Nombre</th>
						<th>Descripción</th>
						<th>Precio</th>
						<th>Categoría</th>
						<th></th>
					</thead>
					<tbody ng-show="table" class="ng-hide">
						<tr ng-repeat="product in products" class="hide">
							<td>{{product.nombre}}</td>
							<td>{{product.descripcion | limitTo: 50}} {{product.descripcion.length > 25 ? '...' : ''}}</td>
							<td>{{product.precio | currency:"$":0}}</td>
							<td>{{product.categoria}}</td>
							<td class="action">
								<i class="fa fa-pencil-square-o tool edit action" data-toggle="tooltip" data-placement="top" title="Editar" aria-hidden="true" ng-click="showForm(true, product)"></i>
								<i class="fa fa-times tool remove action" data-toggle="tooltip" data-placement="right" title="Eliminar" aria-hidden="true" ng-click="remove(product)"></i>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="loading" ng-show="loading"><i class="fa fa-spin fa-circle-o-notch" aria-hidden="true"></i></div>
			</div>
			<div class="productForm hide" ng-hide="list">
				<h2>{{title}}</h2>
				<form name="productForm" ng-submit="next()" novalidate ng-hide="savedProd">
	                <div class="input-group" ng-class="{ 'has-error' : productForm.name.$invalid && !productForm.name.$pristine }">
	                    <span class="input-group-addon"><i class="fa fa-cube" aria-hidden="true"></i></span>
	                    <input name="name" type="text" autofocus class="form-control" ng-model="product.nombre" placeholder="Nombre del Producto" required>
	                </div>
					<p ng-show="productForm.name.$invalid && !productForm.name.$pristine" class="help-block hide">El nombre del producto es requerido.</p>

	                <div class="form-group" ng-class="{ 'has-error' : productForm.cat.$invalid && !productForm.cat.$pristine }">
						<label class="control-label">Categoría</label>
						<select name="cat" class="form-control" ng-model="product.catId" ng-options="item.id as item.nombre for item in categories" required></select>
	                </div>

					<div class="input-group" ng-class="{ 'has-error' : productForm.price.$invalid && !productForm.price.$pristine }">
	                    <span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
	                    <input type="text" name="price" ng-only-numbers class="form-control" ng-model="product.precio" placeholder="Precio" required>
	                </div>
					<p ng-show="productForm.price.$invalid && !productForm.price.$pristine" class="help-block hide">El precio del producto es requerido.</p>

					<div class="form-group" ng-class="{ 'has-error' : productForm.desc.$invalid && !productForm.desc.$pristine }">
	                    <textarea name="desc" class="form-control" rows="3" placeholder="Descripción" ng-model="product.descripcion" required></textarea>
	                </div>
					<p ng-show="productForm.desc.$invalid && !productForm.desc.$pristine" class="help-block hide">La descripción del producto es requerida.</p>
	                <div class="form-group">
	                    <button type="submit" class="btn btn-save" name="button" ng-disabled="productForm.$invalid">Siguiente</button>
	                    <button type="button" class="btn btn-cancel" name="button" ng-click="cancel()">Cancelar</button>
	                </div>

	            </form>
				<div class="prodInfo" ng-show="savedProd">
					<div class="row col-sm-12 col-md-12 col-lg-12 top">
						<div class="col-sm-6 col-md-6 col-lg-6">
							<span class="title">Nombre:</span>
							<span>{{savedProd.nombre}}</span>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<span class="title">Categoría:</span>
							<span>{{savedProd.categoria}}</span>
						</div>
					</div>
					<div class="row col-sm-12 col-md-12 col-lg-12 bottom">
						<div class="col-sm-6 col-md-6 col-lg-6">
							<span class="title">Precio:</span>
							<span>{{savedProd.precio | currency:"$":0}}</span>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6">
							<span class="title">Descripción:</span>
							<span>{{savedProd.descripcion}}</span>
						</div>
					</div>
				</div>
				<div class="row col-sm-12 col-md-12 col-lg-12 fileupload hide" ng-show="savedProd">
					<div class="fileinput fileinput-new col-sm-3 col-md-3 col-lg-3" id="mainPhoto" data-provides="fileinput">
						<div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
						<div>
							<span class="btn btn-default btn-file"><span class="fileinput-new">Seleccionar imagen principal</span><span class="fileinput-exists">Cambiar</span><input class="fileuploadbtn main" type="file"></span>
							<a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
						</div>
					</div>
					<div class="fileinput fileinput-new col-sm-3 col-md-3 col-lg-3 other" data-provides="fileinput">
						<div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
						<div>
							<span class="btn btn-default btn-file"><span class="fileinput-new">Seleccionar imagen</span><span class="fileinput-exists">Cambiar</span><input class="fileuploadbtn" type="file"></span>
							<a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
						</div>
					</div>
					<div class="fileinput fileinput-new col-sm-3 col-md-3 col-lg-3 other" data-provides="fileinput">
						<div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
						<div>
							<span class="btn btn-default btn-file"><span class="fileinput-new">Seleccionar imagen</span><span class="fileinput-exists">Cambiar</span><input class="fileuploadbtn" type="file"></span>
							<a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
						</div>
					</div>
					<div class="fileinput fileinput-new col-sm-3 col-md-3 col-lg-3 other" data-provides="fileinput">
						<div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
						<div>
							<span class="btn btn-default btn-file"><span class="fileinput-new">Seleccionar imagen</span><span class="fileinput-exists">Cambiar</span><input class="fileuploadbtn" type="file"></span>
							<a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
						</div>
					</div>

					<div class="form-group">
	                    <button type="button" class="btn btn-save" name="button" ng-click="save()">Guardar</button>
	                    <button type="button" class="btn btn-cancel" name="button" ng-click="cancel()">Cancelar</button>
	                </div>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="config/config.js"></script>

		<script type="text/javascript" src="plugins/jquery/jquery-2.2.4.min.js"></script>
		<script type="text/javascript" src="plugins/waypoints/jquery.waypoints.min.js"></script>
		<script type="text/javascript" src="plugins/angular/angular.min.js"></script>
		<script type="text/javascript" src="plugins/bootstrap/bootstrap.min.js"></script>
		<script type="text/javascript" src="plugins/singlepagenav/jquery.singlePageNav.min.js"></script>
		<script type="text/javascript" src="plugins/countdown/jquery.countdown.min.js"></script>
		<script type="text/javascript" src="plugins/owlcarousel/owl.carousel.min.js"></script>
		<script type="text/javascript" src="plugins/waitforimages/jquery.waitforimages.min.js"></script>
		<script type="text/javascript" src="plugins/later.min.js"></script>
		<script type="text/javascript" src="plugins/jasny-bootstrap.js"></script>

		<script type="text/javascript" src="js/hero-slider.js"></script>
		<script type="text/javascript" src="js/project-slider.js"></script>
		<script type="text/javascript" src="js/custom.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/angular-ui-notification.min.js"></script>
		<script type="text/javascript" src="js/utils.js"></script>
		<script src="http://cryptojs.altervista.org/api/functions_cryptography.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.6/lodash.js"></script>

		<!-- Directives -->
        <script type="text/javascript" src="js/directives/onlyDigits.js"></script>

		<!-- Controllers -->
		<script type="text/javascript" src="js/controllers/login.js"></script>
        <script type="text/javascript" src="js/controllers/register.js"></script>
		<script type="text/javascript" src="js/controllers/product.js"></script>
        <!-- Services -->
		<script type="text/javascript" src="js/services/queryService.js"></script>
	</body>
</html>
