<!doctype html>
<html ng-app="storeApp">
	<head>
		<title>Muebles Rústicos San José</title>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="plugins/anima/anima.css">
		<link rel="stylesheet" href="plugins/owlcarousel/owl.carousel.css">
		<link rel="stylesheet" href="css/icons.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/sliders.css">
		<link rel="stylesheet" href="css/hero-slider.css">
		<link rel="stylesheet" href="css/project-slider.css">
		<link rel="stylesheet" href="css/app/app.css">
		<link rel="stylesheet" href="css/angular-ui-notification.min.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="shortcut icon" href="img/ico/32.png" sizes="32x32" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" href="img/ico/60.png" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/72.png" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/ico/120.png" type="image/png"/>
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/ico/152.png" type="image/png"/>
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body class="dark" ng-controller="loginController" ng-init = "init()">
		<div id="main-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" ng-click="goTo('redirect')" style="cursor:pointer;">
						<img id="navlogo" src="img/logo.png" alt="" width="122" height="45">
					</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul id="navigation" class="nav navbar-nav navbar-right text-center">
						<li><a href="#" ng-click="goTo('redirect')">Inicio</a></li>
						<li class="ng-hide user-control" ng-show="admin">
							<a data-toggle="dropdown">Mantenimientos</a>
							<ul class="dropdown-menu user-info">
								<li>
									<a  ng-click="goTo('product')">Productos</a>
								</li>
								<li>
									<a ng-click="goTo('client')">Clientes</a>
								</li>
								<li>
									<a ng-click="goTo('user')">Usuarios</a>
								</li>
								<li>
									<a ng-click="goTo('orders_admin')">Órdenes Pendientes</a>
								</li>
							</ul>
						</li>
						<li class="ng-hide user-control" ng-show="admin">
							<a data-toggle="dropdown">Reportes</a>
							<ul class="dropdown-menu user-info admin">
								<li>
									<a ng-click="goTo('report_product')">Productos más vendidos</a>
								</li>
								<li>
									<a ng-click="goTo('report_client')">Clientes</a>
								</li>
								<li>
									<a ng-click="goTo('report_delivered')">Órdenes Entregadas</a>
								</li>
								<li>
									<a ng-click="goTo('report_cancelled')">Órdenes Canceladas</a>
								</li>
							</ul>
						</li>
						<li class="dropdown ng-hide" ng-hide="loggedIn">
							<button type="button" class="btn btn-default dropdown-toggle" ng-click="openLoginModal()">Iniciar Sesión</button>
						</li>
						<li class="dropdown ng-hide user-control" ng-show="loggedIn">
							<a class="user-info" data-toggle="dropdown">Hola, {{currentUser.nombre}}!</a>
							<ul class="dropdown-menu user-info">
								<li>
									<button type="button" class="btn btn-logout" ng-click="goTo('orders')">Mis órdenes</button>
								</li>
								<li>
									<button type="button" class="btn btn-logout logout" ng-click="logout()">Cerrar Sesión</button>
								</li>
							</ul>
						</li>
					</ul>
				</div>

			</div>
		</div>
		<div class="client-view" ng-controller="userController" ng-init="init()">
			<div class="panel panel-default" ng-show="list">
				<div class="panel-heading">
					Usuarios Administrativos
					<i class="fa fa-user-plus add tool" data-toggle="tooltip" data-placement="top" title="Nuevo Administrador " aria-hidden="true" ng-click="showForm()"></i>
				</div>
				<table class="table table-striped">
					<thead>
						<th>Nombre</th>
						<th>Nombre de Usuario</th>
						<th>Email</th>
						<th></th>
					</thead>
					<tbody ng-show="table">
						<tr ng-repeat="user in users" class="hide">
							<td>{{user.nombre}} {{user.apellidos}}</td>
							<td>{{user.nombre_usuario}}</td>
							<td>{{user.email}}</td>
							<td class="action">
								<i class="fa fa-pencil-square-o tool edit action" data-toggle="tooltip" data-placement="top" title="Editar" aria-hidden="true" ng-click="showForm(true, user)"></i>
								<i class="fa fa-times tool remove action" data-toggle="tooltip" data-placement="right" title="Eliminar" aria-hidden="true" ng-click="remove(user)"></i>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="loading" ng-show="loading"><i class="fa fa-spin fa-circle-o-notch" aria-hidden="true"></i></div>
			</div>
			<div class="clientForm hide" ng-hide="list">
				<h2>{{title}}</h2>
				<form name="userForm" ng-submit="save()">
	                <div class="input-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
	                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
	                    <input type="text" autofocus class="form-control" name="name" ng-model="user.nombre" placeholder="Nombre" required>
	                </div>
					<p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block hide">El nombre es requerido.</p>

					<div class="input-group" ng-class="{ 'has-error' : userForm.lastname.$invalid && !userForm.lastname.$pristine }">
	                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
	                    <input type="text" name="lastname" class="form-control" ng-model="user.apellidos" placeholder="Apellidos" required>
	                </div>
					<p ng-show="userForm.lastname.$invalid && !userForm.lastname.$pristine" class="help-block hide">Los apellidos son requeridos.</p>

					<div ng-if="!edit" class="input-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
	                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
	                    <input type="text" name="username" autofocus class="form-control" ng-model="user.nombre_usuario" placeholder="Nombre de Usuario" required>
	                </div>
					<p ng-show="userForm.username.$invalid && !userForm.username.$pristine" class="help-block hide">El nombre de usuario es requerido.</p>

					<div class="input-group" ng-show="!edit" ng-class="{ 'has-error' : userForm.pass.$invalid && !userForm.pass.$pristine && !edit}">
	                    <span class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
	                    <input type="password" name="pass" class="form-control" ng-model="user.password" placeholder="Contraseña" required>
	                </div>
					<p ng-show="userForm.pass.$invalid && !userForm.pass.$pristine && !edit" class="help-block hide">La contraseña es requerida.</p>

					<div class="input-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
	                    <span class="input-group-addon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
	                    <input type="email" name="email" class="form-control" ng-model="user.email" placeholder="Email" required>
	                </div>
					<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block hide">Ingrese un email válido.</p>

	                <div class="form-group">
	                    <button type="submit" class="btn btn-save" name="button" ng-disabled="userForm.$invalid">Guardar</button>
	                    <button type="button" class="btn btn-cancel" name="button" ng-click="cancel()">Cancelar</button>
	                </div>
	            </form>
			</div>
		</div>

		<script type="text/javascript" src="config/config.js"></script>

		<script type="text/javascript" src="plugins/jquery/jquery-2.2.4.min.js"></script>
		<script type="text/javascript" src="plugins/waypoints/jquery.waypoints.min.js"></script>
		<script type="text/javascript" src="plugins/angular/angular.min.js"></script>
		<script type="text/javascript" src="plugins/bootstrap/bootstrap.min.js"></script>
		<script type="text/javascript" src="plugins/singlepagenav/jquery.singlePageNav.min.js"></script>
		<script type="text/javascript" src="plugins/countdown/jquery.countdown.min.js"></script>
		<script type="text/javascript" src="plugins/owlcarousel/owl.carousel.min.js"></script>
		<script type="text/javascript" src="plugins/waitforimages/jquery.waitforimages.min.js"></script>
		<script type="text/javascript" src="plugins/later.min.js"></script>

		<script type="text/javascript" src="js/hero-slider.js"></script>
		<script type="text/javascript" src="js/project-slider.js"></script>
		<script type="text/javascript" src="js/custom.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/angular-ui-notification.min.js"></script>
		<script type="text/javascript" src="js/utils.js"></script>
		<script src="http://cryptojs.altervista.org/api/functions_cryptography.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.6/lodash.js"></script>

		<!-- Directives -->
        <script type="text/javascript" src="js/directives/onlyDigits.js"></script>

		<!-- Controllers -->
		<script type="text/javascript" src="js/controllers/login.js"></script>
        <script type="text/javascript" src="js/controllers/register.js"></script>
		<script type="text/javascript" src="js/controllers/user.js"></script>
        <!-- Services -->
		<script type="text/javascript" src="js/services/queryService.js"></script>
	</body>
</html>
