body.dark {
    background-color: #d0d0d0;
}

.navbar {
    max-height: 60px;
    min-height: 60px;
}

.dropdown.ng-hide {
    display: none;
}

.dropdown-menu.login-control{
    width: 350px;
}

#loginPopUp .login-control .fa {
    color: #23A657;
}

#loginPopUp .login-control li {
    padding: 15px;
}

#loginPopUp .login-control .input-group-addon {
    background-color: #fff;
    background-color: #fff;
    border: 2px solid #b7b7b7;
    border-right: none;
}

#loginPopUp .login-control input{
    color: #3c3c3c;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus,
.dropdown-toggle:active,
.open .dropdown-toggle.btn-default,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    background-color: #23A657;
    color: #FFF;
    box-shadow: none;
}

#loginPopUp .login-control .btn-login,
.dropdown-menu.user-info .btn-logout,
.register-form .btn-create,
.register-form .btn-cancel,
.product-view .btn-cancel,
.product-view .btn-save,
.client-view .btn-cancel,
.client-view .btn-save  {
    background-color: #23A657;
    color: #FFF;
}

#loginPopUp .login-control .btn-register {
    background-color: #1360ad;
    color: #FFF;
    float: right;
}

.user-control {
    cursor: pointer;
}

.user-control .user-info {
    position: relative;
    bottom: 13px;
    color: #23A657 !important;
}

.user-control a.user-info:hover {
    color: #fff !important;
    text-decoration: underline;
}

.user-control .user-info{
    padding: 15px;
}

.register-form, .product-view, .client-view {
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 90px;
}

.register-form h2,
.product-view h2,
.client-view h2 {
    color: #23A657;
    text-align: center;
    font-weight: bold;
}
.register-form .input-group-addon,
.product-view  .input-group-addon,
.client-view  .input-group-addon {
    background-color: #fff;
    border: 2px solid #b7b7b7;
    border-right: none;
}

textarea,
.form-group select {
    border: 2px solid #b7b7b7 !important;
}

.register-form .input-group,
.register-form .form-group,
.product-view .input-group,
.product-view .form-group,
.client-view .input-group,
.client-view .form-group {
    margin-top: 15px;
}

.register-form .btn-cancel,
.product-view .btn-cancel,
.client-view .btn-cancel
{
    float: right;
}
.register-form {
    margin-bottom: 100px;
    padding-bottom: 20px;
}

.register-form .checkbox label{
    font-size: 17px;
    color: #4a4141;
    padding: 0;
    margin-left: -10px;
}

.register-form .checkbox a{
    color: #4a4141;
}

.register-form .checkbox a:hover{
    color: #23A657;
}

.user-control {
    max-width: 150px;
}

.loading {
    color: #23A657;
    font-size: 40px;
    text-align: center;
}

.panel{
    border-color: #23A657;
}

.panel .panel-heading {
    color: #fff;
    background-color: #23A657;
    border-color: #23A657;
    font-size: 20px;
    font-weight: bold;
}

.panel .panel-heading .add {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
}

.panel table{
    font-size: 15px;
    color: #323A42;
}

.panel table .action{
    cursor: pointer;
    font-size: 20px;
}

.panel table td.action {
    width: 100px;
    position: relative;
}

.panel table .edit,
.panel table .detail{
    color: #23A657;
}

.panel table .remove{
    color: #8e1111;
    position: absolute;
    top: 12px;
    right: 10px;
}

.productForm .control-label,
.clientForm .control-label {
    color: #fff;
    font-size: 15px;
}

.productForm .form-control,
.clientForm .form-control {
    font-size: 15px;
    height: 44px;
    color: #3c3c3c;
}

textarea.form-control {
    height: auto !important;
    color: #3c3c3c;
}

#projects-container {
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -ms-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease;
}

#projects-container.small {
    height: 290px;
    overflow: hidden;
}

#projects-container.large {
    height: 600px;
}

#overlay, #overlay-msg {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1500;
}

#overlay img,
#overlay-msg img{
    height: 115px;
    width: 120px;
    position: absolute;
    top: 40%;
    left: 45%;
}

#overlay p,
#overlay-msg p{
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 28%;
}

#navigation {
    top: 0;
    position: absolute;
    right: 30px;
}

.user-info button{
    width: 100px;
    margin-bottom: 10px;
}

.user-info button.logout {
    background-color: #ad3b3b !important;
}

input.ng-dirty.ng-invalid-required,
input.ng-dirty.ng-invalid-required:focus {
    border-color: #a94442;
}

.help-block {
    color: #a94442;
}

@media (max-width: 950px) {
    #navigation {
        position: relative;
    }
    .navbar-collapse,
    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover {
        background-color: #333;
        border: none;
    }
    .user-control {
        max-width: initial;
        width: 250px;
        margin: 0 auto;
    }
    .user-control.dropdown {
        padding: 0;
    }
    .dropdown-menu.user-info.admin {
        position: absolute;
        bottom: auto;
        right: 0;
    }

    .dropdown-menu.user-info {
        margin-left: 60px;
    }

    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        max-height: inherit;
    }
}
.dropdown-menu.user-info a {
    text-align: center;
}

#loginPopUp .modal-content {
    background-color: #333;
}

#loginPopUp .modal-header {
    border: none;
    background-color: #23A657;
}

#loginPopUp .modal-header .close{
    color: white;
    text-shadow: none;
    opacity: 1;
    font-size: 50px;
}

#loginPopUp .modal-body {
    width: 70%;
    margin: 0 auto;
}

#loginPopUp .modal-title {
    color: white;
    text-align: center;
}


#loginPopUp .login-row {
    margin-bottom: 20px;
    margin-top: 20px;
}

table .pending {
    background-color: #f9efa8;
}

table .confirmed {
    background-color: #a8c5f9;
}

table .delivered {
    background-color: #c3f9a8;
}

table .cancelled {
    background-color: #f9a8a8;
}

table .paid {
    background-color: #e0b086;
}

.detail-row table {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.order-row td.action.order i {
    margin-left: 5px;
}

.order-row td.action i.fa-ban {
    color: #8e1111 !important;
}

.order-row td.action i.fa-money {
    color: #2e58a7 !important;
}

.detail-row{
    background-color: #f1f1f1;
}

.detail-row table th{
    color: #23A657;
}

.pagination {
    font-size: 30px;
    color: #23A657;
    position: absolute;
    right: 20px;
    width: 100px;
}

.pagination [disabled=disabled] i {
    opacity: 0.5;
}

.pagination i {
    cursor: pointer;
}

.thumbnail {
    height: 135px !important;
}

.fileinput .btn {
    background-color: #23A657;
    color: white;
}

.prodInfo {
    font-size: 16px;
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
}

.prodInfo .col-md-12 {
    background-color: #ddd;
    padding: 15px;
}

.prodInfo .top {
    border-radius: 10px 10px 0 0;
}

.prodInfo .bottom {
    border-radius: 0 0 10px 10px;
}

.fileupload {
    margin-top: 20px;
}

.fileupload button {
    margin-top: 25px;
}

.prodInfo .title {
    color: #23A657;
}

.desc {
    font-size: 20px;
}
